<h1><%= @book.title %></h1>
<p>By: <%= @book.author %></p>
<p>Cuisine: <%= @book.cuisine %></p>

<ul>
  <li class="button"><%= link_to "Edit", edit_book_path(@book) %></li>
  <li class="button"><%= link_to "Destroy", book_path(@book), method: :delete, 
                                          data: { confirm: "Delete this title?" } %></li>                    
</ul>